[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycmd = "*"
pytest-parallel = "*"
pytest-cov = "*"
codecov = "*"
pytest-xdist = "*"
pytest-xprocess = "*"
pytest = "*"
flake8 = "*"

[packages]
selenium = "*"
requests = "*"
urllib3 = "*"
webdriver-manager = "*"
assertpy = "*"


[requires]
python_version = "3.7"
